.subscribe {
    display: block;
    margin-left: 93px;

    &__title {
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
    
            color: $white-text-color;
        }

}


.form {
    display: flex;
    margin-top: 20px;

    &__input {
            width: 358px;
            height: 50px;
            padding: 15px;
    
            box-sizing: border-box;
            color: $white-text-color;
            background-color: #2F303A;
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
    
            transition: border 250ms $main-transition-time;
    
            &:hover,
            &:focus {
                outline: none;
                border: 1px solid $hover-focus-color;
            }
        }
}



.subscribe__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    width: 200px;
    height: 50px;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $white-text-color;
    fill: $white-text-color;

        &:hover,
        &:focus {
                cursor: pointer;
            }
        
        &-icon {
            margin-left: 10px;
        }
}

