$primary-text-color: #212121;
$secondary-text-color: #757575;
$hover-focus-color: #2196F3;
$white-text-color: #ffffff;
$primary-icon-color: #AFB1B8;
$card-gap: 30px;
$main-transition-time: cubic-bezier(0.4, 0, 0.2, 1);